html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a, abbr, acronym, em, img, ol, ul, li {
border : 0;
font-weight : inherit;
font-style : inherit;
font-size : 100%;
font-family : inherit;
vertical-align : baseline;
margin : 0;
padding : 0;
}

body {
font : 112.5%/1.3 "ltc-bodoni-175", serif;
color : #3f3d3a;
overflow : hidden;
}

h1 {
  margin: 0 auto;

}

section {

}

aside {

}

footer {

}
